* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  //height: 100%;
}

body {
  //width: 100vw;
  //overflow: overlay;
  //&::-webkit-scrollbar {
  //  width: 6px;
  //}
}

a {
  cursor: pointer;
  &,
  &:active,
  &:focus,
  &hover {
    text-decoration: none;
    color: inherit;
  }
}
